<article>

  <h2>Nový pojištěnec</h2>  
  
  <%= render "form", pojistenec: @pojistenec %>
  
  <br>
  
  <div>

    <%= link_to "Zpět", pojistenecs_path, class:"button", id:"zeleny" %>

  </div>

</article>