<article>

  <p style="color: green"><%= notice %></p>
  
  <%= render @pojistenec %>
  
  <div id="box">
  
    <%= link_to "K pojistěncům", pojistenecs_path, class:"button", id:"zeleny" %>
  
  </div>

</article>