<article>

  <h1>Nové pojištění</h1>

  <%= render "form", aktivni_pojisteni: @aktivni_pojisteni %>

  <br>

  <div>
    <%= link_to "Zpět", aktivni_pojistenis_path, class:"button", id:"zeleny" %>
  </div>

</article>