<article>
  <p style="color: green"><%= notice %></p>

  <%= render @aktivni_pojisteni %>

  <div id="box">

    <%= link_to "K pojištěním", aktivni_pojistenis_path, class:"button", id:"zeleny" %>

  </div>
</article>