<nav>

  <%= link_to 'Evidence', root_path, class:"logo" %>
  
  <ul>
  
    <li><%= link_to'Pojištěnci', pojistenecs_path %></li>

    <li><%= link_to 'Pojištění', aktivni_pojistenis_path %></li>

    <li><%= link_to 'O Aplikaci', home_info_path %></li>

  </ul>

</nav>