<article>
  
  <h1>Úprava pojištění</h1>

  <%= render "form", pojisteni: @pojisteni %>

  <br>

  <div>

    <%= link_to "K pojistěncům", pojistenecs_path, class:"button", id:"zeleny" %>

  </div>

</article>