<article>

  <h1>Nové pojištění</h1>

  <%= render "form", pojisteni: @pojisteni %>

  <br>

  <div>
    <%= link_to "Zpět k seznamu pojištění", pojistenis_path, class:"button", id:"zeleny" %>
  </div>

</article>